In [7]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)

In [8]:
# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
# obteniendo data
df = pd.read_csv('https://raw.githubusercontent.com/octaviofv/market-basket-analysis/main/data/Apriori%20_%20Market_Basket_Optimisation.csv', header=None)
df.head()

              0          1           2   ...               17       18         19
0         shrimp        nut       lemon  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey      lemon         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [23]:
# ver tama√±o de df
df.shape

(7501, 20)

In [34]:
# tengo las transacciones en la primera columna
# tengo el historial de items en las siguientes columnas
# entonces tengo que crear una lista con todos los productos y luego contar por trx

# con df.values puedo tener una lista con los items de cada fila
items = []
for fila in range(df.shape[0]):
    for col in range(df.shape[1]):
        items.append(df.values[fila,col])

In [42]:
# elimino items duplicados y nan
items = list(dict.fromkeys(items))
items

['shrimp',
 'nut',
 'lemon',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'iced tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil',
 'burgers',
 'meatballs',
 'eggs',
 nan,
 'chutney',
 'turkey',
 'milk',
 'energy bar',
 'whole wheat rice',
 'whole wheat pasta',
 'french fries',
 'soup',
 'light cream',
 'shallot',
 'frozen vegetables',
 'spaghetti',
 'pet food',
 'cookies',
 'cooking oil',
 'champagne',
 'chocolate',
 'chicken',
 'oil',
 'fresh tuna',
 'tomatoes',
 'black tea',
 'extra dark chocolate',
 'protein bar',
 'red wine',
 'pasta',
 'pepper',
 'shampoo',
 'rice',
 'sparkling water',
 'ham',
 'body spray',
 'pancakes',
 'grated cheese',
 'white wine',
 'toothpaste',
 'parmesan cheese',
 'fresh bread',
 'ground beef',
 'escalope',
 'herb & pepper',
 'tomato sauce',
 'magazines',
 'strawberries',
 'strong cheese',
 'pickles',
 'cake',
 'hot dogs',
 'brownies',
 'cereals',
 'clothes accessories',
 'bug spray',
 'muffins',
 'light mayo',
 'gums',
 'soda',
 'cider',
 'corn',
 'yogurt cake',
 'mint',
 'butter',
 'asparagus',
 'french wine',
 'salt',
 'tea',
 'barbecue sauce',
 'mayonnaise',
 'zucchini',
 'carrots',
 'mushroom cream sauce',
 'candy bars',
 'chili',
 'mashed potato',
 'nonfat milk',
 'water spray',
 'chocolate bread',
 'mint iced tea',
 'eggplant',
 'blueberries',
 'bacon',
 'fromage blanc',
 'gluten free bar',
 'dessert wine',
 'flax seed',
 'hand protein bar',
 'sandwich',
 'babies food',
 'melons',
 'cauliflower',
 'green beans',
 'ketchup',
 'bramble',
 'burger sauce',
 'oatmeal',
 ' asparagus',
 'cream',
 'napkins']

In [44]:
# ahora debo ordenar transacciones e items
len(items)
# https://medium.com/machine-learning-and-artificial-intelligence/3-3-implementing-apriori-algorithm-for-association-rules-using-python-5292ecb9ff3d

121