In [1]:
# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori, association_rules

In [81]:
# obteniendo data
df = pd.read_csv('https://raw.githubusercontent.com/octaviofv/market-basket-analysis/main/data/Apriori%20_%20Market_Basket_Optimisation.csv', header=None)
df.head()

              0          1           2   ...               17       18         19
0         shrimp        nut       lemon  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey      lemon         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [13]:
# ver tamaño de df
df.shape

(7501, 20)

In [5]:
# tengo las transacciones en la primera columna
# tengo el historial de items en las siguientes columnas
# entonces tengo que crear una lista con todos los productos y luego contar por trx

In [61]:
# con df.values puedo tener una lista con los items de cada fila
print(df.values[0])
print('')
print(df.values[0,0])

['shrimp' 'nut' 'lemon' 'vegetables mix' 'green grapes' 'whole weat flour'
 'yams' 'cottage cheese' 'energy drink' 'tomato juice' 'low fat yogurt'
 'iced tea' 'honey' 'salad' 'mineral water' 'salmon' 'antioxydant juice'
 'frozen smoothie' 'spinach' 'olive oil']

shrimp

In [62]:
# crear ciclo para armar tabla con valores
transaccion = []
items = []
for fila in range(df.shape[0]):
    for col in range(df.shape[1]):
        transaccion.append(fila)
        items.append(df.values[fila,col])

In [63]:
# revisando si tienen los mismos largos
print('largo trx: ', len(transaccion))
print('largo items: ', len(items))

largo trx:  150020
largo items:  150020

In [65]:
# crear un dataframe con los datos transformados
df_trx = pd.DataFrame(list(zip(transaccion, items)), columns =['trx', 'item'])

# agregar una columna con 1 para contar al agrupar
df_trx['qty'] = 1
df_trx

         trx            item  qty
0          0          shrimp    1
1          0             nut    1
2          0           lemon    1
3          0  vegetables mix    1
4          0    green grapes    1
...      ...             ...  ...
150015  7500             NaN    1
150016  7500             NaN    1
150017  7500             NaN    1
150018  7500             NaN    1
150019  7500             NaN    1

[150020 rows x 3 columns]

In [67]:
# agrupando los datos por transaccion
df_transacciones = df_trx.groupby(['trx','item'])['qty'].sum()
df_transacciones

trx   item
0     antioxydant juice    1
      cottage cheese       1
      energy drink         1
      frozen smoothie      1
      green grapes         1
                          ..
7499  iced tea             1
7500  eggs                 1
      frozen smoothie      1
      low fat yogurt       1
      yogurt cake          1
Name: qty, Length: 29358, dtype: int64

In [82]:
# pivotear tabla
df_transacciones = df_transacciones.unstack(level=1).fillna(0)
df_transacciones.head()

item   asparagus  antioxydant juice  asparagus  ...  yams  yogurt cake  zucchini
trx                                             ...
0            0.0                1.0        0.0  ...   1.0          0.0       0.0
1            0.0                0.0        0.0  ...   0.0          0.0       0.0
2            0.0                0.0        0.0  ...   0.0          0.0       0.0
3            0.0                0.0        0.0  ...   0.0          0.0       0.0
4            0.0                0.0        0.0  ...   0.0          0.0       0.0

[5 rows x 120 columns]

In [69]:
# funcion para dejar en binario si compra o no compra
def compra_binaria(x):
    if x>= 1:
        return 1
    else:
        return 0

In [70]:
# aplicar funcion a dataframe
df_transacciones_final = df_transacciones.applymap(compra_binaria)
df_transacciones_final.head()

item   asparagus  antioxydant juice  asparagus  ...  yams  yogurt cake  zucchini
trx                                             ...
0              0                  1          0  ...     1            0         0
1              0                  0          0  ...     0            0         0
2              0                  0          0  ...     0            0         0
3              0                  0          0  ...     0            0         0
4              0                  0          0  ...     0            0         0

[5 rows x 120 columns]

In [71]:
# productos mas vendidos 
frequent_itemsets = apriori(df_transacciones_final, min_support=0.05, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False)

     support                    itemsets
16  0.238368             (mineral water)
6   0.179709                      (eggs)
21  0.174110                 (spaghetti)
8   0.170911              (french fries)
3   0.163845                 (chocolate)
13  0.132116                  (iced tea)
15  0.129583                      (milk)
12  0.098254               (ground beef)
10  0.095321         (frozen vegetables)
18  0.095054                  (pancakes)
0   0.087188                   (burgers)
1   0.081056                      (cake)
4   0.080389                   (cookies)
7   0.079323                  (escalope)
14  0.076523            (low fat yogurt)
19  0.071457                    (shrimp)
22  0.068391                  (tomatoes)
17  0.065858                 (olive oil)
9   0.063325           (frozen smoothie)
23  0.062525                    (turkey)
2   0.059992                   (chicken)
27  0.059725  (spaghetti, mineral water)
24  0.058526          (whole wheat rice)
25  0.052660  (chocolate, mineral water)
11  0.052393             (grated cheese)
5   0.051060               (cooking oil)
26  0.050927       (eggs, mineral water)
20  0.050527                      (soup)

In [75]:
# crear reglas de asociacion
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules

       antecedents      consequents  ...  leverage  conviction
0      (chocolate)  (mineral water)  ...  0.013604    1.122357
1  (mineral water)      (chocolate)  ...  0.013604    1.073256
2           (eggs)  (mineral water)  ...  0.008090    1.062815
3  (mineral water)           (eggs)  ...  0.008090    1.043158
4      (spaghetti)  (mineral water)  ...  0.018223    1.159314
5  (mineral water)      (spaghetti)  ...  0.018223    1.102008

[6 rows x 9 columns]

In [83]:
# conclusiones
# los top 5 productos más comprados son:
# mineral water, eggs, spaghetti, french fries, chocolate
# el 32% de los clientes que compro chocolate llevaron mineral water
# el 22% de los clientes que compran mineral water llevan chocolate
# el 28% de los clientes que compraron eggs llevaron mineral water

In [84]:
# https://medium.com/machine-learning-and-artificial-intelligence/3-3-implementing-apriori-algorithm-for-association-rules-using-python-5292ecb9ff3d